.center {
  margin: auto;
  width: 200px;
  /* border: 3px solid green; */
  padding-top: 100px;
  padding-bottom: 50px;
}

.dbutton {
  /* background-color: #0035bb !important; */
  cursor: default;
  background-color: #075ba5 !important;
  border-color: #075ba5 !important;
  color: white !important;
  margin-left: 10px;
}

.list {
  margin: 5px;
}

.keyword-contant {
  margin-top: 30px;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 20px;
  min-height: 150px;
}


