<div class="container-fluid fix-height">
  <div class="d-flex justify-content-center">
    <div class="col-lg-4">
      <form>
        <div class="row">
          <img class="center" src="./assets/images/vase.png" alt="">
          <div class="input-group">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Search.."
              #searchWord
              id="input"
            >
            <span class="input-group-btn">
              <button 
                class="btn btn-secondary fa fa-search" 
                type="submit"
                (click)="onSearch(searchWord)"
              ></button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col-lg-8 keyword-contant">
      <div class="row btn-group">
        <div *ngFor="let word of libraryWord; let i=index">
          <div class="input-group input-group-sm">
            <span class="input-group-addon dbutton" id="basic-addon1">{{ word }}</span>
            <span class="input-group-btn">
              <button class="btn btn-danger fa fa-times" type="button" (click)="onDelete(i)"></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>


