<div class="jumbotron">
  <h1 class="display-3">ตารางคำที่เกี่ยวข้อง</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div style="padding: 10px;">
        <button 
          class="btn btn-success float-right fa fa-plus" 
          (click)="openDialog()"
          placement="top" ngbTooltip="เพิ่มคำที่เกี่ยวข้อง"
          >  เพิ่ม</button>
        <h4>ตารางคำที่เกี่ยวข้อง</h4>
      </div>
      <hr>
      <table class="table overflow">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>คีย์เวิร์ด</th>
            <th>คำที่เกี่ยวข้อง</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tableData ; let i=index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ data.key }}</td>
            <td>{{ data.ref }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


