.wrapper-card {
    margin-top: 50px;
}

img {
    max-width: 100px;
    height: auto;
}

table {
    width: 100%;
}

.navigate:hover {
    cursor: pointer;
}

.recent {
    margin-top: 20px;
}

.canClick:hover {
    cursor: pointer;
    color: white;
    background-color: #0275d8;
}